# Node modules (Bibliotēkas)
node_modules/
frontend/node_modules/

# Logs (Žurnālfaili)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS faili
.DS_Store
Thumbs.db

# Vide (Ja nākotnē izmantosi .env failus parolēm)
.env